 body {
    font-family:  sans-serif, Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
   
}
h1 {
    font-size: 60px;
    display: flex;
    justify-content: center;
    color: rgb(112, 110, 110);
    text-shadow: 0px 0px 6px rgba(231, 223, 223, 0.235);
    letter-spacing: 8px;
    margin: 0;

}
h6 {
    color:gray;
    text-align: center;
}
#top-text {
    display: flex;
    justify-content: center;
    letter-spacing: 10px;
    color: rgba(0, 0, 0, 0.568);
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);

}
#main-div {
    min-height: 690px;
    border-radius: 26px;
    margin: 3% auto;
    margin-top: 40px;
    background-color: rgba(255, 255, 255, 0.596);
    box-shadow: 0 1px 6px rgb(0, 0, 0), 0 1px 4px rgb(214, 130, 130);
    background-position: center;

}
#planner-layout-container {
    background-color: rgba(165, 165, 165, 0.384);
    border-radius: 25px;
    height: 500px;
    width: 100%;
    padding: 0px 5%;
    border: 1px solid rgba(255, 255, 255, 0.103);

}
.planner-rows {
    background-color: rgb(177, 177, 177);
    border-radius: 5px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.342);
    text-align: center;
    height: 40px;
    margin: 5px 0px;
    color: rgb(58, 58, 58);
    padding-top: 6px;
    outline: none;  

}
#planner-button-1 {
    border-radius: none;
    border: none;
    background-color:white;

}
.timeClass {
    background-color:white;

}
.planner-rows:hover {
    background-position: center;
    background-size: 70%;
    opacity: .3;

}
.planner-buttons:hover {
    background-color: rgba(255, 255, 255, 0.438);
    cursor: pointer;
    color: white;
    letter-spacing: 3px;
    text-shadow: 1px 1px 5px black; 

}
.background-wrap {
    z-index: -1000;
    height: 100%;
    width: 100%; 
    overflow: hidden; 
    top: 0;
    bottom: 0;  

}
#video-bg-elem {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;

}

* {
    margin: 0;
    padding: 0; 

}
footer{
    height: 40px;
    width: 100%;
    background-color: rgba(59, 56, 56, 0.274);
    border-top: 1.3px solid white;
    text-shadow: 0px 0px 5px black;
    position: fixed;
    bottom: 0;
    text-align: center;
    line-height: 20px;
    letter-spacing: 12px;
    font-size: 12px;
    color: rgb(58, 53, 53);  
    background-position: center;

} 
@media only screen and (max-width: 760px) {
    .planner-rows{
        font-size: 13px;
        margin: 0 auto;
        padding: 0;
        padding-top: 7px;
    }  

} 
.past {
  background-color:darkgrey;
  color: white;

}
.present {
  background-color: #ff6961;
  color: white;

}
.future {
  background-color: #77dd77;
  color: white;
}